# Xcode 관련 불필요한 파일 및 폴더
.DS_Store
*.swp
*.swo
*.xcuserstate
xcuserdata/
*.xcworkspace
*.xcscmblueprint
.idea/
*.lock
*.moved-aside
*.xcuserdatad*
*.xcplugindata/
*.xcdebugger/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap

# 빌드 및 파생 데이터
DerivedData/
Build/
*.ipa
*.app
*.dSYM.zip
*.dSYM
*.xcarchive

# Swift Package Manager 관련 파일
.build/
.swiftpm/
.project.xcworkspace/
Packages/
Package.pins
Package.resolved
*.xcodeproj

# Carthage 및 Cocoapods 관련 파일
Carthage/Checkouts
Carthage/Build
Pods/
Podfile.lock
pod-install.sh

# 환경 변수 및 API 키 보안
.env
*.xcconfig
Secrets.xcconfig
Config.xcconfig
YourApp/Access.swift  # API 키를 포함할 가능성이 있는 파일
YourApp/Info.plist    # 민감한 정보 포함 시

# Firebase 관련 파일
GoogleService-Info.plist
*.plist~

# Fastlane 관련 파일 (빌드 및 배포 자동화 도구)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/metadata

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Logs 및 임시 파일
*.log
*.tmp

# Simulator 관련 디렉토리
*.simruntime
*.simdevicetype
*.simctl

# XCTest 관련
*.xctestoutput
*.xcresult
*.xctrace
